body {
  background-color: #f4f5f9;
}

.container {
  padding: 1;
}

.center {
  display: flex;
  justify-content: center;
}

.border-lift {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.box {
  padding: 25px;
  margin-top: 20px;
}

.text-orange {
  color: #ff830b;
}

.text-blue {
  color: #2b4873;
}

.text-space {
  white-space: pre;
}

.text-subtitle {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

input {
  outline: none;
  padding: 10px;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-first::placeholder {
  color: #2b4873;
}

#main-form,
#main-form-mobile {
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.row {
  margin: 0 auto;
  display: flex;
}

.input {
  padding: 0 10px;
  /* width: 50px !important; */
}

.input input {
  width: 100%;
}

.input-bottom {
  margin-top: 5px;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 5px;
  width: 100%;
}

.input-bottom::placeholder {
  text-align: center;
  color: rgba(112, 112, 112, 0.5);
}

section {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

button {
  width: 300px;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background-color: #ff830b !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  font-weight: 700;
  height: 50px;
  margin-top: 10px;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.partners {
  display: flex;
  flex-direction: column;
}

#card-group {
  display: flex;
}

.card {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media (max-width: 380px) {
  .input p {
    font-size: 3.6vw;
  }
}

@media (max-width: 1289px) {
  #woman {
    display: none;
  }
  #box {
    display: none;
  }
  #form-group {
    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: 1192px) {
  #card-group {
    flex-direction: column;
  }

  .card {
    padding-bottom: 0 !important;
    max-width: 80vw !important;
    margin: 0 auto;
  }

  .box {
    min-height: 0 !important;
    padding-bottom: 8px !important;
  }

  .container {
    padding: 0 !important;
  }

  #de-para {
    flex-direction: column;
    padding: 0 !important;
  }

  #de {
    width: 100% !important;
  }
  #para {
    margin-top: 10px;
    width: 100% !important;
  }
  #form {
    display: flex;
    max-width: 80vw !important;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    flex: none;
  }

  .title {
    font-size: 4vw !important;
    word-break: break-all !important;
  }

  #wrap-title {
    flex-direction: column;
  }

  #main-form {
    display: none;
  }

  #main-form-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .partners {
    display: none;
  }

  #frete {
    margin: 0 auto;
  }
}

#de-para {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px;
}

#de {
  width: 45%;
}

#para {
  width: 45%;
}

.title {
  word-break: break-all;
}

#wrap-title {
  display: flex;
  justify-content: center;
}

#main-form-mobile {
  display: none;
}
