#modal {
  z-index: 999;
  background: rgba(40, 40, 40, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal.addScroll {
  overflow: auto;
}

#modal form {
  padding: 35px;
  background-color: #f4f5f9;
  width: 37%;
  max-width: 800px;
  margin: 80px auto;
  display: grid;
  gap: 10px;
}

input::placeholder {
  color: #2b4873;
}

button {
  font-size: 15px;
  width: 300px;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background-color: #ff830b;
}

.row-modal {
  display: flex;
  flex-direction: column;
}

#cnpj-tel {
  display: flex;
  justify-content: space-between;
}

.modal-input {
  width: 100% !important;
}

#frete {
  min-width: 100px !important;
  width: 220px !important;
}

@media (max-width: 917px) {
  #modal form {
    margin: 10px auto;
    width: 80vw;
    padding: 20px 10px;
  }

  #modal-title {
    font-size: 17px !important;
    text-align: center;
  }
}

@media (max-width: 1275px) {
  #cnpj-tel {
    flex-direction: column;
  }
}
