#modal {
  z-index: 999;
  background: rgba(40, 40, 40, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 400ms;
}

#modal.addScroll {
  overflow: auto;
}

#modal form {
  padding: 35px;
  background-color: #f4f5f9;
  width: 70%;
  max-width: 800px;
  margin: 80px auto;
  display: grid;
  gap: 20px;
}

input::placeholder {
  color: #2b4873;
}

button {
  width: 300px;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background-color: #ff830b;
}
/* 
form input,
form textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  outline: none;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  width: 150px;
  height: 40px;
  background-color: #ffffff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5e84;
  text-decoration: none;
}

form button {
  background: #ffffff22;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  grid-column: 2;
  justify-self: end;
  transition: 400ms;
}

form button:hover {
  background: #fff;
  color: #ff5e84;
  text-decoration: none;
} */
